.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px ;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    border: 1px solid #ff006e;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    background-color: #ff8fab;
    box-shadow: 12px 10px 5px 5px #ffb3c6;
    
}

.display {
    border: solid 1.5px #f15bb5;
    margin: 2px;
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 5px;
    background-color: azure;
    grid-column: span 4;

    font-size: 25px;
}

button{
    border: solid 1px #ff006e;
    magin: 2px;
    border-radius: 3px;

}

#borrar, #cero{
    grid-column: span 2;
}


