* {
    text-align: center;
    background-color: azure;
}

h1 {
    color: #5a189a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 2px black;
    border-radius: 5px;
}

h2 {
    color: #780000;
    background: #f5ebe0;
    padding: 5px;
    border-radius: 15px;
}

h3 {
    color: #f77f00;
    font-size: 25px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e5e5e5;
}

button {
    padding: 5px;
    background-color: #fcbf49;
    color: black;
    border-radius: 8px;
}

.compartir{
    background-color: #C1DFF0;
}